<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swpuiot.stp">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginedActivity"
            android:label="@string/title_activity_logined"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.FindPasswordActivity"
            android:label="@string/title_activity_find_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.SettingActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.UserInformationActivity"
            android:label="@string/title_activity_user_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.NormalSettingActivity"
            android:label="@string/title_activity_normal_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
